<!DOCTYPE html>
<html lang="en" ng-app="angularProjects">
	<head>
		<meta charset="UTF-8">
		<title>Dynamic Layout</title>
		
		<!-- Load css files -->
		<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/base.css">
		
		<!-- Load js files -->
		<script src="lib/jQuery/jquery.min.js"></script>
		<script src="lib/angular/angular.js"></script>
		<script src="lib/angular/angular-route.js"></script>
		<script src="js/controllers/app.js"></script>
		<script src="js/directives/directives.js"></script>
		
	</head>
	<body ng-controller="angularProjectsCtlr">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
		    	<div class="navbar-header">
			    	<a class="navbar-brand" href="#">
			       		Angular Projects
			      	</a>
			    </div>
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			    	<ul class="nav navbar-nav">
			        	<li ng-class="{'active': currentView == 'dynamicLayout'}"><a href="#" ng-click="selectRoot('dynamicLayout')">Dynamic Layout <span class="sr-only">(current)</span></a></li>
			        	<li ng-class="{'active': currentView == 'tagInputs'}"><a href="#"  ng-click="selectRoot('tagInputs')">Tag Inputs</a></li>
			        	<li ng-class="{'active': currentView == 'scrollTabs'}"><a href="#"  ng-click="selectRoot('scrollTabs')">Scroll Tabs</a></li>
			      	</ul>
			    </div>
		 	</div>
		</nav>
		<div class="container-fluid">
  			<div ng-include ng-if="currentView == 'dynamicLayout'" src="'dynamicLayout.html'"></div>
  			<div ng-include ng-if="currentView == 'tagInputs'" src="'tagInputs.html'"></div>
  			<div ng-include ng-if="currentView == 'scrollTabs'" src="'scrollTabs.html'"></div>
		</div>
	</body>
</html>

<script type="text/ng-template" id="dynamicLayout.html">
	<div ng-controller="dynamicLayoutCtlr">
		<button type="button" class="btn btn-primary" ng-click="changeLayout('responsiveStatic')">Layout - Responsive and Static Panels</button>
		<button type="button" class="btn btn-primary" ng-click="changeLayout('responsive')">Layout - All Responsive Panels</button>
		<div class="dashboard-container">
			<div ng-include ng-if="layoutMode == 'responsiveStatic'" src="'responsiveStatic.html'"></div>
  			<div ng-include ng-if="layoutMode == 'responsive'" src="'responsive.html'"></div>
		</div>
	</div>
</script>

<script type="text/ng-template" id="tagInputs.html">
	<div ng-controller="tagInputCtlr">
		{{tagInputs}}
	</div>
</script>

<script type="text/ng-template" id="scrollTabs.html">
	<div ng-controller="scrollTabsCtlr">
		{{scrollTabs}}
	</div>
</script>

<script type="text/ng-template" id="responsiveStatic.html">
	<div class="layout clearfix">
		<div class="pull-left margin-right-15">
			<div class="clearfix">
				<div class="pull-left margin-right-15" ng-include src="'responsivePanel1.html'"></div>
				<div class="pull-left margin-right-15" ng-include src="'responsivePanel2.html'"></div>
				<div class="pull-left" ng-include src="'responsivePanel3.html'"></div>
			</div>
			<div ng-include src="'responsivePanel4.html'"></div>
		</div>
		<div class="pull-right">
			<div ng-include src="'staticPanel.html'"></div>
		</div>
	</div>
</script>

<script type="text/ng-template" id="responsive.html">
	<div class="layout">
		<div class="clearfix">
			<div class="pull-left margin-right-15" ng-include src="'responsivePanel1.html'"></div>
			<div class="pull-left margin-right-15" ng-include src="'responsivePanel2.html'"></div>
			<div class="pull-left margin-right-15" ng-include src="'responsivePanel3.html'"></div>
			<div class="pull-left" ng-include src="'responsivePanel4.html'"></div>
		</div>
		<div class="clearfix">
			<div class="pull-left margin-right-15" ng-include src="'responsivePanel5.html'"></div>
			<div class="pull-left" ng-include src="'responsivePanel6.html'"></div>
		</div>
	</div>
</script>

<script type="text/ng-template" id="responsivePanel1.html">
	<div ng-controller="responsivePanel1Ctlr" resize ng-style="style()" class="panel panel-info" id="responsive-panel1" mode="{{layoutMode}}">
		<div class="panel-heading">
			Panel-1
		</div>
		<div class="panel-body">
			Panel content
		</div>
	</div>
</script>

<script type="text/ng-template" id="responsivePanel2.html">
	<div ng-controller="responsivePanel2Ctlr" resize ng-style="style()" class="panel panel-info" id="responsive-panel2" mode="{{layoutMode}}">
		<div class="panel-heading">
			Panel-2
		</div>
		<div class="panel-body">
			Panel content
		</div>
	</div>
</script>

<script type="text/ng-template" id="responsivePanel3.html">
	<div ng-controller="responsivePanel3Ctlr" resize ng-style="style()" class="panel panel-info" id="responsive-panel3" mode="{{layoutMode}}">
		<div class="panel-heading">
			Panel-3
		</div>
		<div class="panel-body">
			Panel content
		</div>
	</div>
</script>

<script type="text/ng-template" id="responsivePanel4.html">
	<div ng-controller="responsivePanel4Ctlr" resize ng-style="style()" class="panel panel-info" id="responsive-panel4" mode="{{layoutMode}}">
		<div class="panel-heading">
			Panel-4
		</div>
		<div class="panel-body">
			Panel content
		</div>
	</div>
</script>

<script type="text/ng-template" id="responsivePanel5.html">
	<div ng-controller="responsivePanel5Ctlr" resize ng-style="style()" class="panel panel-info" id="responsive-panel5" mode="{{layoutMode}}">
		<div class="panel-heading">
			Panel-5
		</div>
		<div class="panel-body">
			Panel content
		</div>
	</div>
</script>

<script type="text/ng-template" id="responsivePanel6.html">
	<div ng-controller="responsivePanel6Ctlr" resize ng-style="style()" class="panel panel-info" id="responsive-panel6" mode="{{layoutMode}}">
		<div class="panel-heading">
			Panel-6
		</div>
		<div class="panel-body">
			Panel content
		</div>
	</div>
</script>


<script type="text/ng-template" id="staticPanel.html">
	<div ng-controller="staticPanelCtlr" resize ng-style="style()" class="panel panel-info" id="static-panel" mode="{{layoutMode}}">
		<div class="panel-heading">
		Static Panel
	</div>
		<div class="panel-body">
			Static Panel content
		</div>
	</div>
</script>
	

