<!DOCTYPE html>
<html lang="en" ng-app="angularProjects">
	<head>
		<meta charset="UTF-8">
		<title>Dynamic Layout</title>
		
		<!-- Load css files -->
		<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/base.css">
		
		<!-- Load js files -->
		<script src="lib/jQuery/jquery.min.js"></script>
		<script src="lib/angular/angular.min.js"></script>
		<script src="lib/angular/angular-route.js"></script>
		<script src="js/controllers/app.js"></script>
		<script src="js/directives/directives.js"></script>
		
	</head>
	<body ng-controller="angularProjectsCtlr">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
		    	<div class="navbar-header">
			    	<a class="navbar-brand" href="#">
			       		Angular Projects
			      	</a>
			    </div>
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			    	<ul class="nav navbar-nav">
			        	<li ng-class="{'active': currentView == 'dynamicLayout'}"><a href="#" ng-click="selectRoot('dynamicLayout')">Dynamic Layout <span class="sr-only">(current)</span></a></li>
			        	<li ng-class="{'active': currentView == 'tagInputs'}"><a href="#"  ng-click="selectRoot('tagInputs')">Tag Inputs</a></li>
			        	<li ng-class="{'active': currentView == 'scrollTabs'}"><a href="#"  ng-click="selectRoot('scrollTabs')">Scroll Tabs</a></li>
			      	</ul>
			    </div>
		 	</div>
		</nav>
		<div class="container-fluid">
  			<div ng-include ng-if="currentView == 'dynamicLayout'" src="'dynamicLayout.html'"></div>
  			<div ng-include ng-if="currentView == 'tagInputs'" src="'tagInputs.html'"></div>
  			<div ng-include ng-if="currentView == 'scrollTabs'" src="'scrollTabs.html'"></div>
		</div>
	</body>
</html>

<script type="text/ng-template" id="dynamicLayout.html">
	<div ng-controller="dynamicLayoutCtlr">
		<button type="button" class="btn btn-primary" ng-click="changeLayout('responsiveStatic')">Layout - Responsive and Static Panels</button>
		<button type="button" class="btn btn-primary" ng-click="changeLayout('responsive')">Layout - Responsive Panels</button>
		<div class="dashboard-container">
			<div ng-include ng-if="layoutMode == 'responsiveStatic'" src="'responsiveStatic.html'"></div>
  			<div ng-include ng-if="layoutMode == 'responsive'" src="'responsive.html'"></div>
		</div>
	</div>
</script>

<script type="text/ng-template" id="tagInputs.html">
	<div ng-controller="tagInputCtlr">
		{{tagInputs}}
	</div>
</script>

<script type="text/ng-template" id="scrollTabs.html">
	<div ng-controller="scrollTabsCtlr">
		{{scrollTabs}}
	</div>
</script>

<script type="text/ng-template" id="responsiveStatic.html">
	<div class="layout">
		<div resize ng-style="style()" class="panel panel-info" id="panel1" mode="{{layoutMode}}">
  			<div class="panel-heading">Panel-1</div>
  			<div class="panel-body">
    			Panel content
  			</div>
		</div>
	</div>
</script>

<script type="text/ng-template" id="responsive.html">
	<div>
		{{layoutMode}}
	</div>
</script>

